.box {
    margin: 3% 0%;
    display: grid;
    justify-content: center;
}
#time {
    margin-bottom:1em;
}

h3 {
    justify-self: center;
}
ul {
    justify-self: center;
    list-style-type: none;
    padding: 0;
}
